/* Navbar */

@media (max-width: 600px){
   nav {
    flex-direction: column;
    height: auto;
    margin-left: 80%;
    position: absolute;
   }

   nav .navlink{
    flex-direction: column;
   }

   .logo-img img{
    margin-left: 0;
    max-height: 40px;
   }

   .nav_btn{
    display: block;
    margin-left: auto;
   }
}