
@media only screen and (max-width: 768px){
    /* Navigation Bar */
    
    .nav-toggle{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navlinks{
        display: none;
        background-color: #333333;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 40%;
        padding: 75px 0;
        justify-content: right;
        height: 100vh;
    }

    .nav-toggle div{
        background-color: #fff;;
    }

    .navlinks.active{
        display: flex;

    }

    .navlinks .nav-link{
        margin: 10px 0;
    }


    /* Home Section */

    .home-section .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        place-items: center;
    }

    .home-profile{
        width: clamp(200px, 80%, 300px);
        height: 45vh;
        max-width: 300px;
    }

    .home-content{
        text-align: center;
    }

    .home-title{
        font-size: 1rem;
    }
    
    .home-intro{
        font-size: 1.8rem;
        padding-bottom: 3rem;
    }

    .social-links{
        display: flex;
        position: absolute;
        bottom: -1rem;
        padding-left: 45px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 2rem;
    }


    /* Projects Section */

    .project-section .container{
        padding: 10px;
    }

    .project-text{
        font-size: 1.5rem;
        padding: 15px;
    }

    .project-grid{
        /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr); */
        justify-content:center;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .project-card h2{
        font-size: 1rem;
        text-align: center;
        word-wrap: break-word;
        padding: 15px;
    }


    /*skills and contact section*/

    .multi-section{
        flex-wrap: wrap;
    }

    .skill-section{
        width: 100%;
    }

    .skill-title{
        text-align: left;
        padding: 1rem;
    }

    .contact-section{
        width: 100%;
    }

    .contact-pallet{
        position: relative;
    }

    .contact-header{
        padding: 8rem;
        font-size: 1.5rem;
        word-wrap: break-word;
    }

    .contact-box i{
        font-size: 1.8rem;
    }

    .contact-box p{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width:1300px){

    .contact-pallet{
        grid-template-columns: 1fr;
    }

}