*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

#nav-body-container{
  background-color: var(--main-body-color);
  height: 100vh;
  border-bottom: 4px solid yellow;
}

/* Google Font */


.roboto-port {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Navigation Bar */

.navcontainer{
    margin-bottom: 100px;
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: nowrap;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navcontainer .navlogo img{
    max-height: 60px;
    width: auto;
    display: block;
    transition: transform var(--trans-duration);
}


.navcontainer .navlogo img:hover{
    transform: scale(1.2);
}

.navcontainer .navlink{
    list-style-type: none;
    display: flex;
    margin: 60px;
    height: 100%;
}

.navcontainer .navlink .navlinks{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 100%;
    transition: transform var(--trans-duration), background-color var(--trans-duration), box-shadow var(--trans-duration);
}

.navcontainer .nav_icon{
    display: none;
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    font-size: 26px;
    padding: 0 20px;
}


/* All Btn*/

.contact-form .c-form .btn .ct-btn,
.btn .cv-btn{
    padding: 10px 20px;
    border: 2px solid rgb(173, 255, 47);
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform var(--trans-duration), background-color var(--trans-duration);
}

.contact-form .c-form .btn .ct-btn:hover,
.btn .cv-btn:hover,
.navcontainer .navlink .navlinks:hover{
    transform: scale(1.1);
    background-color: rgba(76, 175, 80, 0.8);
}

.contact-form .c-form .btn .ct-btn:active,
.btn .cv-btn:active,
.navcontainer .navlink .navlinks:active{
    transform: scale(0.97);
    background-color: rgba(76, 175, 80, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

/* Main Body */

.mainbody{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.mainbody p{
  display: block;
  max-width: 500px;
}

.mainbody #a1{
  font-size: 30px;
}

.mainbody #a2{
  font-size: 80px;
}

.mainbody #a3{
  font-size: 24px;
}

.mainbody .btn{
  margin-top: 30px;
  max-width: 150px;
}

.body-img img{
  height: 60vh;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform var(--trans-duration) ease;

}

.body-img img:hover{
  transform: translateY(-6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/*Projects*/

.projects{
  text-align: center;
  height: 100vh;
  border-bottom: 4px solid #FFD700;
  background-color: var(--main-body-color);
}

#project-title{
  font-size: 36px;
  color: #ddd;
  margin-bottom: 10vh;
  padding-top: 15vh;
}

.wrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card{
  width: 350px;
  height: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* background-image: linear-gradient(45deg,#654EA3 , #EAAFC8); */
  background-color: rgb(146, 50, 50);
  transition: all var(--trans-duration) ease-in-out;
}

.card p{
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #ECF0F1;
  padding: 20px;

  /* background-image: linear-gradient(45deg,#EA8D8D, #A890FE);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.card i{
  font-size: 130px;
  padding: 50px;
}

.wrapper:hover :not(.card:hover){
  opacity: 0.4;
}

.card:hover{
  transform: scale(1.05);
  opacity: 1;
}

.card:active{
  transform: var(--scale-onactive);
}


.progress-bar{
  background-color: #ddd;
  width: 100%;
  height: 8px;
  border-radius: 4px;
}

.progress{
  background-color: rgb(112, 112, 201);
  height: inherit;
  border-radius: 4px;
}


/* Footer */

footer{
  background-color: var(--main-body-color);
  height: 45vh;
}

.socials .icons{
  display: flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  column-gap: 80px;
  padding-top: 30px;
}

.socials .icons .links{
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #800020;
  transition: transform var(--trans-duration), background-color var(--trans-duration);
}

.socials .icons .links:hover{
  transform: rotate(180deg);
  
}

.socials .icons .links a i{
  color:#FFD700;
}

.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer-logo img{
  height: 15vh;
  width: auto;
  display: block;
}

.footer-txt{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text{
  background-image: linear-gradient(#009245,#FCEE21);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  padding-top: 80px;
}


