* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 4, 8);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
}

.nav-link:hover{
  background-color:rgb(35, 35, 38);
  padding: 10px 10px;
}

.main-body {
  display: flex;
  justify-content:center;
  column-gap: 100px;
  align-items: center;
  margin-top: 100px;
}

.profile .henci{
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}


.body-container h1 {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 300;
  color: blueviolet;
}

.body-container p{
  font-size: 18px;
  font-weight: 200;
  max-width: 330px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #fff;
}

.info-1 h2{
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}

.info-2 h2{
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}

.info-1 p{
  font-size: 14px;
  font-weight: 200;
}

.info-2 p{
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 100px;
}

.socials{
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 50px;
  display: flex;
  column-gap: 60px;
}

.socials div a i{
  transition: transform 0.2s;
  margin: 10px 20px;
}

.socials i:hover{
  transform: scale(1.2);
}

.border{
  border: 0;
  background: rgb(105, 42, 105);
  height: 4px;
  margin: 40px 400px;
}

.ending{
  text-align: center;
}

.ending h1{
  font-size: 100px;
  font-weight: 100;
  color: rgb(97, 74, 119);
  font-family: "Protest Revolution", sans-serif;
}

.ending p{
  font-size: 12px;
  padding-bottom: 40px;
  font-weight: 200;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}
