* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo img {
  max-height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(161, 165, 199);
  font-size: 14px;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

.btn {
  background-color: #fff;
  color: rgb(112, 140, 221);
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgb(148, 158, 187);
}
.btn:hover {
  background-color: rgb(209, 213, 226);
}

video {
  position: absolute;
  width: 100%;
  height: auto;
  /* top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  object-fit: contain; */
}
.viber-logo i {
  color: #fff;
  margin-bottom: 15px;
  font-size: 65px;
  display: block;
  position: relative;
  margin-left: 10%;
  padding-top: 120px;
}

.hero-content {
  justify-content: space-around;
  margin: 10px 0;
}

.hero-content h1 {
  max-width: 650px;
  padding: 10px 0;
  margin-top: 0;
  margin-left: 10%;
  font-size: 54px;
  font-weight: 200;
}

.hero-content h2 {
  margin-left: 10%;
  font-weight: 200;
  max-width: 650px;
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0;
}

.download-btn {
  cursor: pointer;
  padding: 13px 45px;
  border-radius: 20px;
  background-color: rgb(20, 224, 20);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  margin-left: 10%;
}

.download-btn:hover {
  background-color: rgb(30, 154, 30);
}

.feature-title{
  padding-bottom: 100px;
  text-align: center;
  margin-top: 155px;
}

.feature-title h2{ 
  color: #323232;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 44px;
  font-family: Roboto,sans-serif;
}

.feature-title p{
  color:#323232;
  font-weight: 200;
  font-size: 15px;
  font-family: Roboto,sans-serif;
}

/* .second-pg{
  display: flex;
  justify-content: center;
}

.second-pg .nxt-page{
  color: rgb(83, 74, 74);
  font-size: 14px;
  max-width: 100%;
  height: auto;
}

.second-pg .nxt-page h3{
  padding-top: 30px;
} */

.img-fluid{
  max-width: ;
  height: auto;
}

.second-pg{
  display: flex;
  padding: 0 15%;
  font-family: Roboto,sans-serif;
  text-align: center;
  color: #453838;
}

.second-pg h3{
  padding: 35px 0 10px;
  font-size: 20px;
}

.second-pg p{
  font: 14px;
  padding-right: 10px;
}

.btn-box{
  text-align: center;
  padding:60px;
}

.discover-btn{
  padding: 16px 30px;
  border-radius: 30px;
  border: 1px solid #665cac;
  background-color:#fff;
  color:#665cac;
  cursor: pointer;
  font-size: 16px;
  
} 

.discover-btn:hover{
  background-color: rgba(101, 93, 171, 0.1);
}

.new-content{
  background-color: #e6ecf0;
  padding-top: 47px;
  display: flex;
}

.mob-text{
  color: #323232;
  text-align: justify;
  max-width: 380px;
  margin-top: 100px;
  margin-left: 100px;
}

.mob-img{
  max-width: 100%;
  height: auto;
  padding-left: 100px;
}

.mob-text h2{
  font-size: 44px;
  font-weight: 200;
}

.mob-text p{
  font-weight:200;
  font-size: 16px;
}

.mob-btn{
  text-align: center;
}

.mob-btn button{
  padding: 18px 40px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #665cac;
  font-size: 16px;
  color: #665cac;
}

.mob-btn button:hover{
  background-color:#cdcae0;
}