* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo img {
  max-height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(161, 165, 199);
  font-size: 14px;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

.btn {
  background-color: #fff;
  color: rgb(112, 140, 221);
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgb(148, 158, 187);
}
.btn:hover {
  background-color: rgb(209, 213, 226);
}

video {
  position: absolute;
  width: 100%;
  height: auto;
  /* top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  object-fit: contain; */
}
.viber-logo i {
  color: #fff;
  margin-bottom: 15px;
  font-size: 65px;
  display: block;
  position: relative;
  margin-left: 10%;
  padding-top: 120px;
}

.hero-content {
  justify-content: space-around;
  margin: 10px 0;
}

.hero-content h1 {
  max-width: 650px;
  padding: 10px 0;
  margin-top: 0;
  margin-left: 10%;
  font-size: 54px;
  font-weight: 200;
}

.hero-content h2 {
  margin-left: 10%;
  font-weight: 200;
  max-width: 650px;
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0;
}

.download-btn {
  cursor: pointer;
  padding: 13px 45px;
  border-radius: 20px;
  background-color: rgb(20, 224, 20);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  margin-left: 10%;
}

.download-btn:hover {
  background-color: rgb(30, 154, 30);
}

.feature-title h2{ 
  margin-top: 20%;
  color: rgb(90, 64, 64);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 44px;
}

.feature-title p{
  color:rgb(38, 32, 32);
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

.second-pg{
  display: flex;
  justify-content: center;
}

.btn-box{
  text-align: center;
}

.discover-btn{
  padding: 16px 30px;
  border-radius: 30px;
  border: none;
  background-color:rgb(20, 224, 20);
  color:#fff;
  font-size: 16px;
} 
